---
interface Props {
  id: number;
  name: string;
  imageSrc: string;
}

const { name, id, imageSrc } = Astro.props;
---

<li>
  <a
    href={`/favorites/${id}`}
    class="pb-2 w-full flex flex-col justify-center gap-2 hover:bg-red-800"
  >
    <img
      class="w-full h-48 object-cover clip transition-all"
      src={imageSrc}
      alt={name}
      transition:name={`favorite-img-${id}`}
    />
    <h6
      class="text-cod-gray-100 text-lg font-semibold text-center"
      transition:name={`favorite-title-${id}`}
    >
      {name}
    </h6>
  </a>
</li>

<style>
  a:hover img {
    clip-path: polygon(50% 0, 100% 0, 100% 34%, 100% 57%, 100% 100%, 51% 100%, 0 100%, 0 59%, 0 35%, 0 0);
  }

  img {
    clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
  }
</style>
