---
import Layout from "../../layouts/Layout.astro";
import { getData, filterTrackData, checkImage } from '../../utils';
import type { Track } from "../../types";
import TagCard from "../../components/TagCard.astro";

export async function getStaticPaths() {
  const { tracks: tracksResponse } = await getData('chart.gettoptracks', '130');
  const tracks = filterTrackData((tracksResponse?.track || []) as Track[], 24);
  const routes = tracks.map(track => ({ params: { mbid: track.mbid } }));

  return routes;
}

const { mbid } = Astro.params;
const { track } = await getData(`track.getinfo&mbid=${mbid}`);
---

<Layout title={`${track.name} | Transition API`}>
  {track && (
    <main class="pt-28 pb-12 px-4 lg:px-0 max-w-5xl mx-auto w-full">
      <!-- Info section -->
      <section class="flex flex-col md:flex-row gap-6 md:gap-12 mb-10">
        <img class="w-72 object-cover rounded-sm" src="https://picsum.photos/500" alt={track.name}>
        <div class="flex flex-col">
          <h1 class="text-5xl font-bold text-cod-gray-100">
            {track.name}
          </h1>
          <h2 class="text-3xl font-bold text-cod-gray-100">
            {track.artist.name}
          </h2>
          <h3 class="text-xl font-bold text-cod-gray-100 mb-3">
            Album: {track.album.title}
          </h3>
          <span class="text-cod-gray-100 text-base font-semibold">
            Duration: {Number(track.duration).toLocaleString('en-US')} seconds
          </span>
          <div class="flex gap-14">
            <span class="text-cod-gray-100 text-base">
              Listeners: <span class="font-semibold">{Number(track.listeners).toLocaleString('en-US')}</span>
            </span>
            <span class="text-cod-gray-100 text-base mb-3">
              Playcount: <span class="font-semibold">{Number(track.playcount).toLocaleString('en-US')}</span>
            </span>
          </div>
          <p class="text-cod-gray-100 text-base mb-5" set:html={track.bio?.summary} />
          <a
            class="px-8 py-3 self-start font-bold text-md text-cod-gray-100 bg-red-800 transition-all hover:text-red-800 hover:bg-cod-gray-100"
            href={track.url}
          >
            See more on Last.fm →
          </a>
        </div>
      </section>

      <!-- Wiki section -->
      <section class="flex flex-col mb-10">
        <h2 class="text-3xl font-bold text-cod-gray-100 mb-3">
          Wiki
        </h2>
        <p class="text-cod-gray-100 text-base mb-4" set:html={track.wiki?.content} />
        <small class="text-cod-gray-100 text-sm self-end">
          Published: <span class="font-semibold">{track.wiki?.published}</span>
        </small>
      </section>

      <!-- Tags section -->
      <section class="flex flex-col gap-10">
        <h2 class="text-2xl font-bold text-cod-gray-100">
          Top Tags
        </h2>
        {track.toptags.tag.length > 0 && (
          <ul class="grid grid-cols-1 md:grid-cols-3 lg:grid-cols-4 gap-3" role="list">
            {track.toptags.tag.map((tag: { name: string; taggings?:  undefined; url?: string; }) =>
              <TagCard data={tag} externalUrl={tag.url} />
            )}
          </ul>
        )}
      </section>
    </main>
  )}
</Layout>
